<% if user_signed_in? %>
    <div class="container">
        <h1>Dashboard</h1>
        <h3>Hello, <%= current_user.name %>!</h3>
        <p>Explore some <%= link_to "Hobbies", hobbies_path %></p>
        <video autoplay loop id="index-video">
            <source src="http://zippy.gfycat.com/ElatedEquatorialDrake.webm" type="video/webm">
        </video>
    </div>
<% else %>
    <div class="jumbotron" id="index">
        <h2>Try new things</h2>
        <h2>Meet cool people</h2>
        <h1>Hobbyist</h1>
        <%= link_to "Sign Up", new_user_registration_path,class: "btn btn-default" %>
    </div>
<% end %>
