<% provide(:title,"Find Friends") %>
<div class="container">
<h1>Find Friends!</h1>
  <div class="media">
    <div class="media-body">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>People</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |user| %>
            <tr>

              <td>
                <%= gravatar_for user, size: 25 %>
                <%= link_to user.name, user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
  
    </div>
  </div>
</div>