<%= provide(:title,@user.name) %>

<div class="container">
	<h1><%=@user.name %></h1>
	<button class="btn btn-default">Add Friend</button>
	<h3>Interests</h3>
		<% @user.hobbies.each do |hobby|%>
			<div class="interests">
				<p><%=  link_to hobby.name, hobby  %></p>
			</div>
		<% end %>

</div>