<h3>Hobbies</h3>
<% if @user.hobbies.any? %>
	<% @user.hobbies.each do |hobby| %>
        <%= link_to hobby do %>
            <div class="interests">
                <p><%= hobby.name %></p>
            </div>
        <% end %>
	<% end %>
    <div class="clear-float"></div>
    <p>Find more <%= link_to "hobbies!", hobbies_path %></p>
<% else %>
    <p>You're not following any hobbies. Check some 
    <%= link_to "out!", hobbies_path %></p>
<% end %>