<% provide(:title, "Hobbies") %>
<div class="container">
<h1>Hobbies</h1>
  <div class="media">
    <div class="media-body">
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Hobby</th>
          </tr>
        </thead>
        
        <tbody>
          <% @hobbies.each do |hobby| %>
            <tr>
              <td><%= link_to hobby.name, hobby %></td>
              <% if current_or_guest_user.admin? %>
              <td>
                <%= link_to 'Edit', edit_hobby_path(hobby), class: "btn btn-primary"%>
                <%= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
  
      <p>Can't find what you're looking for? Start a <%= link_to 'new hobby.', new_hobby_path %>
  
    </div>
  </div>
</div>