<div class="tagging-group">
  <label>Tags</label> (<em>Press enter to create tag</em>)
  <div class="input-group">
    <input id="tag-input" type="text" class="span2 form-control"/>
    <span id="tag-submit" class="input-group-addon">
      <i class="glyphicon glyphicon-plus"></i>
    </span>
  </div>

  <br/>
  <div class="alert-danger danger">
    Tag already exists!
  </div>
  <br/>
  
  <ul class="tag-list" id="tags">
    <li>No tags...</li>
  </ul>

</div>

<script>
  'use strict';
  var _tagStore = [],
      _set = {},
      _count = 0,
      _id = 0,
      tags = document.querySelector('#tags'),
      d = document.querySelector('#tag-submit'),
      input = document.querySelector("input#tag-input.span2.form-control");

  var Tag = function(name) {
    this.name = name;
    this.id = -1;
  };

  var appendTag = function (tag) {
    var tagElement =  '<li class="tag" id="tag-' + 
                      _id +
                      '">#' +
                      tag.name +
                      '  <span class="delete-tag">X</span>' +
                      '</li>';

    if (_count === 0) {
      tags.innerHTML = tagElement;
    } else {
      tags.innerHTML += tagElement;
    }
    tag.id = _id;
    _id++;
  };

  var deleteTag = function (name) {
    if (_set[name]) {
      var toDelete = document.querySelector('#tag-' + _set[name].id);
      tags.removeChild(toDelete);
      delete _set[name];
      _count--;
    }
    if (_count === 0) {
      tags.innerHTML += "<li>No tags...</li>";
    }
  };

  var duplicate = function () {
    var danger = document.querySelector('.danger');
    danger.style.display = 'block';
    setTimeout(function() {
      danger.style.display = 'none';
    }, 1000);
  };

  var addTag = function () {
    var i = document.querySelector('#tag-input');
    var tag = new Tag(i.value);

    if (typeof _set[i.value] === 'undefined') {
      _set[i.value] = tag;
      appendTag(tag);
      _count++;
      i.value = '';
    } else {
      duplicate();
    }
  };

  var toArray = function () {
    var result = [];
    for (var tag in _set) {
      if (_set.hasOwnProperty(tag)) {
        result.push(tag);
      }
    }

    return result;
  };

  // Event listeners
  tags.addEventListener('click', function (e) {
    e.preventDefault();
    if (e.target.className == 'delete-tag') {
      var text = e.target.parentNode.textContent;
      deleteTag(text.slice(1, text.length - 3));
    }
  }, false);

  d.addEventListener('click', function (e) {
    e.preventDefault();
    addTag();
  }, false);

  input.addEventListener('keypress', function (e) {
    if (e.keyCode === 13) {
      e.preventDefault();
      addTag();
    }
  }, false);
</script>